<div class="S2" style="width: 100%">
  <div class="cardBoxHeader">
    <h1 style="font-size: 40px; font-weight: 350">About Me</h1>

    <div
      class="cardBox"
      style="margin: 50px 130px 50px 130px"
      data-aos="fade-up"
      data-aos-duration="800"
    >
      <div
        style="
          font-size: 20px;
          word-spacing: 2px;
          letter-spacing: 0.5px;
          line-height: 25px;
          font-weight: 300;
          padding: 60px 25px 80px 25px;
        "
      >
        I am a fresher having 0 years of industry experience.I have knowledge
        about C, Java, MySQL, Angular, Restful Web Services, UX Design and many
        more. I look forward to working in a challenging environment where I can
        use my ability and skills.I am a quick learner and have always wanted to
        learn new technologies.
      </div>
      <h3 style="font-size: 25px; font-weight: 300; padding: 30px">
        Skills I Have Learnt so far
      </h3>
      <mat-chip-listbox>
        <mat-chip
          style="
            background-color: rgb(219, 189, 248);
            height: 40px;
            border-radius: 20px;
          "
        >
          <img
            matChipAvatar
            src="https://w7.pngwing.com/pngs/405/878/png-transparent-java-logo-java-runtime-environment-computer-icons-java-platform-standard-edition-java-miscellaneous-text-logo-thumbnail.png"
            style="width: 20px"
            alt="Photo of a Shiba Inu"
          />
          Core Java
        </mat-chip>
        <mat-chip
          style="
            background-color: rgb(219, 189, 248);
            height: 40px;
            border-radius: 20px;
          "
        >
          <img
            matChipAvatar
            src="https://w7.pngwing.com/pngs/384/848/png-transparent-mysql-php-database-javascript-ajax-carnifex-blue-text-logo.png"
            alt="Photo of a Shiba Inu"
          />
          MySQL
        </mat-chip>
        <mat-chip
          style="
            background-color: rgb(219, 189, 248);
            height: 40px;
            border-radius: 20px;
          "
        >
          <img
            matChipAvatar
            src="https://e7.pngegg.com/pngimages/482/922/png-clipart-application-programming-interface-logo-computer-programming-api-icon-text-logo.png"
            alt="Photo of a Shiba Inu"
          />
          Rest APIs
        </mat-chip>
        <mat-chip
          style="
            background-color: rgb(219, 189, 248);
            height: 40px;
            border-radius: 20px;
          "
        >
          <img
            matChipAvatar
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
            alt="Photo of a Shiba Inu"
          />
          Angular
        </mat-chip>
        <mat-chip
          style="
            background-color: rgb(219, 189, 248);
            height: 40px;
            border-radius: 20px;
          "
        >
          <img
            matChipAvatar
            src="https://w7.pngwing.com/pngs/201/90/png-transparent-logo-html-html5.png"
            alt="Photo of a Shiba Inu"
          />
          HTML
        </mat-chip>
        <mat-chip
          style="
            background-color: rgb(219, 189, 248);
            height: 40px;
            border-radius: 20px;
          "
        >
          <img
            matChipAvatar
            src="https://www.freepnglogos.com/uploads/html5-logo-png/html5-logo-css-logo-png-transparent-svg-vector-bie-supply-9.png"
            alt="Photo of a Shiba Inu"
          />
          CSS
        </mat-chip>
        <mat-chip
          style="
            background-color: rgb(219, 189, 248);
            height: 40px;
            border-radius: 20px;
          "
        >
          <img
            matChipAvatar
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png"
            alt="Photo of a Shiba Inu"
          />
          TypeScript
        </mat-chip>
        <mat-chip
          style="
            background-color: rgb(219, 189, 248);
            height: 40px;
            border-radius: 20px;
          "
        >
          <img
            matChipAvatar
            src="https://pbs.twimg.com/profile_images/1235945452304031744/w55Uc_O9_400x400.png"
            alt="Photo of a Shiba Inu"
          />
          Spring Data Jpa
        </mat-chip>
      </mat-chip-listbox>
      <h3
        style="
          font-size: 25px;
          font-weight: 300;
          padding: 10px;
          margin-top: 50px;
          margin-bottom: 50px;
        "
      >
        Certification And Experiences
      </h3>

      <div class="card-group">
        <div class="card" style="height: 500px">
          <img
            src="https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~TXEWMC2RR82J/CERTIFICATE_LANDING_PAGE~TXEWMC2RR82J.jpeg"
            class="card-img-top"
            alt="..."
            style="padding-top: 20px"
          />
          <div class="card-body">
            <h3 class="card-title">Google Cloud Fundamentals</h3>
            <p class="card-text">
              Google Cloud Fundamentals: Core Infrastructure introduces
              important concepts and terminology for working with Google Cloud.
            </p>
            <a
              href="https://www.coursera.org/account/accomplishments/certificate/TXEWMC2RR82J"
              target="_blank"
              style="text-decoration: none"
              >View</a
            >
          </div>
        </div>
        <div class="card" style="height: 500px">
          <img
            src="https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~3P4CP73JN3M4/CERTIFICATE_LANDING_PAGE~3P4CP73JN3M4.jpeg"
            class="card-img-top"
            alt="..."
            style="padding-top: 20px"
          />
          <div class="card-body">
            <h3 class="card-title">Google UX Design</h3>
            <p class="card-text">
              The Google UX Design Certificate is composed by seven different
              courses and is designed to help every type of learner earn the
              certificate and become an entry-level user experience (UX)
              designer.
            </p>
            <a
              href="https://www.coursera.org/account/accomplishments/specialization/certificate/3P4CP73JN3M4"
              target="_blank"
              style="text-decoration: none"
              >View</a
            >
          </div>
        </div>
        <div class="card" style="height: 500px">
          <img
            src="https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~YKESWHEE3PS9/CERTIFICATE_LANDING_PAGE~YKESWHEE3PS9.jpeg"
            class="card-img-top"
            alt="..."
            style="padding-top: 20px"
          />
          <div class="card-body">
            <h3 class="card-title">Crash Course on Python</h3>
            <p class="card-text">
              This course is designed to teach you the foundations in order to
              write simple programs in Python using the most common structures.
            </p>
            <a
              href="https://www.coursera.org/account/accomplishments/certificate/YKESWHEE3PS9"
              target="_blank"
              style="text-decoration: none"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
