<div class="S2" style="width: 100%">
  <div class="cardBoxHeader">
    <h1 style="font-size: 40px; font-weight: 350">About Me</h1>

    <div
      class="cardBox"
      style="margin: 50px 130px 50px 130px"
      data-aos="fade-up"
      data-aos-duration="800"
    >
      <div
        style="
          font-size: 20px;
          word-spacing: 2px;
          letter-spacing: 0.5px;
          line-height: 25px;
          font-weight: 300;
          padding: 60px 25px 80px 25px;
        "
      >
        <p>
          Being a fresher I believe I possess the necessary skills and
          credentials. I know Core Java, Angular, Node Js, Express Js, MongoDB,
          MySQL, Restful Web Services, UI/UX Design and many more. I look
          forward to working in a challenging environment where I can use my
          ability and skills.I am a quick learner and have always wanted to
          learn new technologies.
        </p>
      </div>
      <h3 style="font-size: 25px; font-weight: 300; padding: 30px">
        Skills I've Learned so far
      </h3>

      <div
        style="
          display: flex;
          column-gap: 15px;
          row-gap: 35px;
          justify-content: center;
          flex-wrap: wrap;
        "
      >
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://images.vexels.com/content/166401/preview/java-programming-language-icon-05bb98.png"
          alt=""
        />
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://static.vecteezy.com/system/resources/previews/001/416/673/non_2x/angular-emblem-white-letter-on-red-vector.jpg"
          alt=""
        />
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png"
          alt=""
        />
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://www.svgrepo.com/show/376337/node-js.svg"
          alt=""
        />
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/2000px-Unofficial_JavaScript_logo_2.svg.png"
          alt=""
        />

        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/768px-HTML5_logo_and_wordmark.svg.png"
          alt=""
        />
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://logowik.com/content/uploads/images/123_css3.jpg"
          alt=""
        />
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://media.licdn.com/dms/image/D4D12AQEAO8b3YbB2bw/article-cover_image-shrink_600_2000/0/1670420866062?e=2147483647&v=beta&t=zubK5_6jSz9gB4nwsCU6O9Kg9oQSY-1ImCsCLMhMyU8"
          alt=""
        />
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://www.conclusion.nl/_next/image?url=https%3A%2F%2Fwww.datocms-assets.com%2F33413%2F1607702349-spring-boot-logo-112009353335.png%3Fcrop%3Dfocalpoint%26fit%3Dcrop%26h%3D992%26w%3D1984&w=3840&q=80"
          alt=""
        />
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://cdn.worldvectorlogo.com/logos/mongodb-icon-2.svg"
          alt=""
        />
        <img
          style="height: 100px; width: 100px; object-fit: cover"
          src="https://www.svgrepo.com/show/303251/mysql-logo.svg"
          alt=""
        />
      </div>
      <h3
        style="
          font-size: 25px;
          font-weight: 300;
          padding: 10px;
          margin-top: 50px;
          margin-bottom: 50px;
        "
      >
        Certification And Experiences
      </h3>

      <div class="card-group">
        <div class="card" style="height: 500px">
          <img
            src="https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~TXEWMC2RR82J/CERTIFICATE_LANDING_PAGE~TXEWMC2RR82J.jpeg"
            class="card-img-top"
            alt="..."
            style="padding-top: 20px"
          />
          <div class="card-body">
            <h3 class="card-title">Google Cloud Fundamentals</h3>
            <p class="card-text">
              Google Cloud Fundamentals: Core Infrastructure introduces
              important concepts and terminology for working with Google Cloud.
            </p>
            <a
              href="https://www.coursera.org/account/accomplishments/certificate/TXEWMC2RR82J"
              target="_blank"
              style="text-decoration: none"
              >View</a
            >
          </div>
        </div>
        <div class="card" style="height: 500px">
          <img
            src="https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~3P4CP73JN3M4/CERTIFICATE_LANDING_PAGE~3P4CP73JN3M4.jpeg"
            class="card-img-top"
            alt="..."
            style="padding-top: 20px"
          />
          <div class="card-body">
            <h3 class="card-title">Google UX Design</h3>
            <p class="card-text">
              The Google UX Design Certificate is composed by seven different
              courses and is designed to help every type of learner earn the
              certificate and become an entry-level user experience (UX)
              designer.
            </p>
            <a
              href="https://www.coursera.org/account/accomplishments/specialization/certificate/3P4CP73JN3M4"
              target="_blank"
              style="text-decoration: none"
              >View</a
            >
          </div>
        </div>
        <div class="card" style="height: 500px">
          <img
            src="https://s3.amazonaws.com/coursera_assets/meta_images/generated/CERTIFICATE_LANDING_PAGE/CERTIFICATE_LANDING_PAGE~YKESWHEE3PS9/CERTIFICATE_LANDING_PAGE~YKESWHEE3PS9.jpeg"
            class="card-img-top"
            alt="..."
            style="padding-top: 20px"
          />
          <div class="card-body">
            <h3 class="card-title">Crash Course on Python</h3>
            <p class="card-text">
              This course is designed to teach you the foundations in order to
              write simple programs in Python using the most common structures.
            </p>
            <a
              href="https://www.coursera.org/account/accomplishments/certificate/YKESWHEE3PS9"
              target="_blank"
              style="text-decoration: none"
              >View</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
