<div class="edu">
  <h1
    style="
      font-size: 40px;
      font-weight: 350;
      text-align: center;
      padding: 25px 0px 20px 0px;
    "
  >
    Qualification
  </h1>
  <div class="timeline">
    <div class="container left-container">
      <img
        src="https://play-lh.googleusercontent.com/y5cmaOfuNBjodN5TzXgHSHF8hQKDfwKlMuCfSytQaEMt0xDSFjjgfw-ag1c3sypkcw"
      />
      <div class="text-box">
        <h2>Chaibasa Engineering College</h2>
        <small>Duration: 2018-2022</small>
      </div>
    </div>
    <div class="container right-container">
      <img
        src="https://cbsenick.weebly.com/uploads/1/2/0/8/120834358/class-12-png.png"
      />
      <div class="text-box">
        <h2>Saraswati Shishu Mandir, Shyamdih</h2>
        <small>Passing Year: 2017</small>
      </div>
    </div>
    <div class="container left-container">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwDnyL11JFDzix-qqzt_zoV_pRcMwrl37riJwoD5zO26s2Skq8NTzos0Tnn_nVxkXuLow&usqp=CAU"
      />
      <div class="text-box">
        <h2>Saraswati Shishu Mandir, Shyamdih</h2>
        <small>Passing Year: 2015</small>
      </div>
    </div>
  </div>
</div>
