<app-top-nav-bar></app-top-nav-bar>
<section id="home">
  <div style="height: 720px; padding-top: 100px">
    <div class="row justify-content-center" style="margin-top: 100px">
      <div
        class="col-6"
        style="display: grid; justify-content: center; align-items: center"
      >
        <Div>
          <h2>Hey there,</h2>
          <h1 style="font-size: 60px">I'm Goutam kumar</h1>
          <h1>A Programer/UIUX Designer</h1>
          <h5 style="font-size: 15px; font-weight: 100">
            An Independent and Self Motivated Student with Quality Skills.
          </h5>
          <div class="SocialIcons">
            <ul
              style="
                display: flex;
                list-style-type: none;
                gap: 10px;
                padding: 0px;
              "
            >
              <li>
                <a href=""
                  ><img
                    src="https://img.icons8.com/?size=512&id=13963&format=png"
                    style="width: 45px"
                /></a>
              </li>
              <li>
                <a href=""
                  ><img
                    src="https://img.icons8.com/?size=512&id=32323&format=png"
                    style="width: 45px"
                /></a>
              </li>
              <li>
                <a href=""
                  ><img
                    src="https://img.icons8.com/?size=512&id=13930&format=png"
                    style="width: 45px"
                /></a>
              </li>
            </ul>
          </div>
          <a href="assets\Resume.pdf" download class="download-btn"
            >Download CV
          </a>
        </Div>
      </div>
      <div class="col-4">
        <div class="imageContainer">
          <img
            src="assets\goutam.jpg"
            style="
              width: 300px;
              height: 300px;
              border-radius: 50%;
              object-fit: cover;
            "
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <app-about></app-about>
</section>
<section id="edu">
  <app-education></app-education>
</section>
<section id="project">
  <app-projects></app-projects>
</section>
