<app-top-nav-bar></app-top-nav-bar>
<section id="home">
  <div style="height: 720px; padding-top: 100px">
    <div class="row justify-content-center" style="margin-top: 100px">
      <div
        class="col-6"
        style="display: grid; justify-content: center; align-items: center"
      >
        <Div>
          <h2>Hey there,</h2>
          <h1 style="font-size: 60px">I'm Goutam kumar</h1>
          <h1>MEAN Stack/Backend Developer</h1>
          <h5 style="font-size: 15px; font-weight: 100">
            An Independent and Self Motivated Student with Quality Skills.
          </h5>
          <div class="SocialIcons">
            <ul
              style="
                display: flex;
                list-style-type: none;
                gap: 20px;
                padding: 0px;
              "
            >
              <li>
                <a href="https://twitter.com/im_goutamkumar" target="_blank"
                  ><img
                    src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Twitter_glyph_svg-512.png"
                    style="width: 40px"
                /></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/im_goutamkumar/"
                  target="_blank"
                  ><img
                    src="https://cdn4.iconfinder.com/data/icons/social-media-black-white-2/600/Instagram_glyph_svg-512.png"
                    style="width: 40px"
                /></a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/im-goutamkumar/"
                  target="_blank"
                  ><img
                    src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Linkedin_glyph_svg-512.png"
                    style="width: 40px"
                /></a>
              </li>
              <li>
                <a href="https://github.com/imgoutamkumar" target="_blank"
                  ><img
                    src="https://cdn3.iconfinder.com/data/icons/social-media-2253/25/Group-512.png"
                    style="width: 40px"
                /></a>
              </li>
            </ul>
          </div>
          <button class="download-btn">
            <a
              href="assets\GoutamResume.pdf"
              download
              class="a-tag-customization"
              >Download CV
            </a>
          </button>
        </Div>
      </div>
      <div class="col-4">
        <div class="imageContainer">
          <img
            src="assets\goutam.jpg"
            style="
              width: 300px;
              height: 300px;
              border-radius: 50%;
              object-fit: cover;
            "
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <app-about></app-about>
</section>
<section id="edu">
  <app-education></app-education>
</section>
<section id="project">
  <app-projects></app-projects>
</section>
